*{
    margin: 0px;
    padding: 0px;
}

/* Top-banner */

.top-banner img{
    width:100%;
    height: 100%;
}

/* About-area */
.about-btn{
    padding:22px 0px;
}
.about-btn button{
    width: 35%;
    padding: 8px;
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
/* service-area */
.s-space{
    padding-bottom:22px ;
}

/* Our experties */
.headline {
    margin: 0px;
    padding-top: 22px;
    font-size: 2rem;
    font-weight: bold;
}
.section-ctn{
    display: flex;
    width: 100%;
}
.section-left{
    display: grid;
    width: 46%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.section-box{
    background-color:#039be5 ;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section-box p{
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-top: 12px;
}
.section-right{
    margin-left: 18px;
    width: 54%;
}
.section-right img{
  width: 100%;
  border-radius: 20px;
  height: 100%;
}


/* downbanner */
.banner-ctn{
    display: block;
    position: relative;
}
.banner-ctn img{
    height: 280px;
    width: 100%;
  
}
.upper-text{
    position: absolute;
    color: white;
    bottom: 20%;
    left: 8%;
}
.upper-text h6{
    font-size: 2rem;
    padding-bottom: 8px;
    font-weight: bold;
}

/* doctor-area */
.check-btn{
    padding-bottom:22px;
    text-align: center;
}
.check-btn button{
    width: 16%;
    padding: 10px;
    font-weight: bold;
    border:2px solid rgb(47, 85, 255);
    border-radius: 12px;
    background-color: white;
}




 