
*{
    margin: 0px;
    padding: 0px;
}    

/* slide-area */
.slide-img{
    height: 230px;
    width: 100%;
    position: relative;
}
.slide-img img{
    height: 100%;
    width: 100%;
}

.textarea{
    position: absolute;
    top: 24%;
    right: 38%;
    font-weight: bold;
    color: white;
}
.textarea p{
    font-size: 15px;
    font-weight: normal;
}

/* section- services */
.service-section{
    background-color: rgba(196, 196, 196, 0.32);
}
.services-ctn h2{
    padding: 28px 0px;
    font: 3rem;
    font-weight: bold;
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.service-logo{
    display: block;
}
.service-logo img{
    height: 80px;
    width: 80px;
    margin: auto;
}
.service-filter{
    padding: 22px;
    position: relative;
    text-align: center;
}
.service-filter h4{
    color: #2cb7d7;
    margin: 10px 0px;
}
.service-filter p{
    padding-bottom: 26px;
    font-size: 16px;

}
.service-filter a{
    text-decoration: none;
    color: #2f2f62;
    position: absolute;
    bottom: 12px;
    right: 33%;
}
.bg-area{
    background: #cecece4d;
}
.bg{
    background-color: white;
}