/* Top navbar */
@media(max-width:800px){
    .navbar{
       display: none;
    }   
    .header{
       display: flex;
    }
}

/* footer */
@media (max-width:767px) {  
    #footer h3 {  
        padding-left: 0;  
        border-left: transparent;  
        padding-bottom: 0px;  
        margin-bottom: 10px;  
    }  
} 
@media (max-width:1050px) {  
    .fot-inner {  
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 1rem;
    }  
    .fot-inner-w{
        width: 100%;
    }
}
@media (max-width:610px) {  
    .fot-inner {  
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 1rem;
    }  
    .fot-inner-w{
        width: auto;
    }
}
 
 







