
*{
    margin: 0px;
    padding: 0px;
}    

/* slide-area */
.slide-img{
    height: 230px;
    width: 100%;
    position: relative;
}
.slide-img img{
    height: 100%;
    width: 100%;
}

.textarea{
    position: absolute;
    top: 24%;
    right: 38%;
    font-weight: bold;
    color: white;
}
.textarea p{
    font-size: 15px;
    font-weight: normal;
}

/* doctor-section */
.doctors-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    padding-bottom: 28px;
}
.container h2{
    padding: 22px 0px;
    font-weight: bold;
}
.doctors-ctn h3{
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    font-size: 24px;
}
.doctors-ctn p{
    text-align: center;
    font-weight: bold;
}
