
*{
    margin: 0px;
    padding: 0px;
}    

/* slide-area */
.slide-img{
    height: 230px;
    width: 100%;
    position: relative;
}
.slide-img img{
    height: 100%;
    width: 100%;
}

.textarea{
    position: absolute;
    top: 24%;
    right: 38%;
    font-weight: bold;
    color: white;
}
.textarea p{
    font-size: 15px;
    font-weight: normal;
}

/* table-area */
.wrapper{
    padding: 22px 0px;
}