
*{
    margin: 0px;
    padding: 0px;
}    

/* slide-area */
.slide-img{
    height: 230px;
    width: 100%;
    position: relative;
}
.slide-img img{
    height: 100%;
    width: 100%;
}

.textarea{
    position: absolute;
    top: 24%;
    right: 38%;
    font-weight: bold;
    color: white;
}
.textarea p{
    font-size: 15px;
    font-weight: normal;
}

/* conatct-area */
.filter-box{
    display: grid;
    padding: 22px 0px;
    grid-template-columns: repeat(3,1fr);
}
.filter{
    box-shadow: 0px 6px 2px #cecdcdbf;
    display: flex;
    padding: 30px;
    align-items: center;
}
.filter img{
    width: 28px;
    height: 28px;
    margin-right: 8px;
}
.filter h4{
    font-weight: bold;
    margin: 0px;
    font-size: 15px;
}

.detail-section{
    padding: 22px 0px;
}
.detail-section h2{
    font-weight: bold;
}

.section-ctn{
    display: flex;
}
.section-left{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 46%;
}
.section-right{
    padding: 15px;
    width: 54%;
}
.section-right p{
    font-size: 18px;
    font-weight: bold;
}
.form{
    display: flex;
   flex-direction: column;
}
.form h2{
    font-size: 15px;
    padding-top:12px ;
    font-weight: bold;
}
.form input{
    width: 100%;
    padding: 6px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 6px #dcdada;
}
.form textarea{
    width: 100%;
    padding: 6px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 6px #dcdada;
}
.submit-btn{
    padding-top:18px ;
}
button{
    width: 35%;
    padding: 8px;
    border: none;
    background: #41be41;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}